.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 300;
    color: rgb(12, 218, 32);
    border-radius: 10px;
    border: none !important;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Poppins, sans-serif;
  }
  
  .action-button img {
    margin-right: 5px;
  }
  
  /* Default style */
  .action-button {
    color: rgb(12, 218, 32);
    background-color: transparent;
  }
  
  /* Reverse style */
  .action-button.reverse {
    color: white;
    background-color: black;
  }
  
  /* Neutral style */
  .action-button.neutral {
    color: black;
    background-color: rgb(216, 209, 209);
  }
  
  /* Hover effect */
  .action-button.hover:hover {
    background-color: #e6e6e6;
    border: solid 1px black;
  }
  
  /* Disabled state */
  .action-button.disabled {
    display: none;
    cursor: not-allowed;
  }
  
  /* Sizes */
  .action-button.small {
    font-size: 24px;
  }
  
  .action-button.extra-small {
    font-size: 22px;
  }
  
  /* Specific display types */
  .action-button.text-only {
    padding: 5px;
  }
  
  .action-button.icon-only {
    padding: 5px;
  }
  
  .action-button.icon-with-text {
    padding: 5px 10px;
  }
  

  .btn-icon {
    height: 25px;
    width: 25px;
  }